div input[type="text"] {
  width: 80px;
  height: 80px;
  margin: 10px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-inline: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
